<div class="footer-wrapper">

    <footer id="footer" class="footer bg-seaGreen-200" role="contentinfo">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-oxfordBlue pb-8 md:pb-0">© 2020 Devillion Ltd.</p>

            {#% include 'components/social-icons.njk' %#}

        </div>

    </footer>

</div>
