<a class="company-logo-link block text-oxfordBlue text-2xl md:text-5xl hover:text-darkCoral-450 rokkitt-400 no-underline" href="/" title="Devi11ion home">Devi<span class="text-darkCoral-450">11</span>ion</a>
