---
layout: default
meta_title: Web Accessibility Auditing
meta_description: The services Devi11ion offers
body_class: auditing
title: Web Accessibility Auditing
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content w-2/3">
           <p>We provide various levels of web accessibility testing and auditing.</p>

           <h2 class="text-2xl">Quick glance (£50)</h2>
           <p>The first thing we offer is having a quick glance at how accessible your website is. With our past experience of evaluating 100s of websites and help of automated accessibility tools we can fairly quickly reveal any glaring accessibility issues your website has.</p>
           <p>Instead of a formal report, we’ll give you a brief outline of findings in an email. That’ll save both us time and money.</p>
           <p>A quick glance will allow us to highlight some <a href="">low-hanging fruits</a> which would be ideal for cost-effective, practical accessibility improvements.</p>

           <h2 class="text-2xl">Dig a bit deeper (£400)</h2>
           <p>With a bit more time on our hands, we can cover more ground, dig deeper and gain a more thorough understanding of where and how your website is inaccessible. With that we can more easily make valuable suggestions of how to fix it and how much time it might take.</p>
           <p>When we’re done digging we’ll put together an Accessibility Report outlining all the issues we found, including suggestions of how to fix the code.  You could then take that report to your web developer or get us on board to work on it.</p>
           <p>Digging a bit deeper will identify <a href="">low-hanging fruits</a> as well as <a href="">bite-size bits</a>.</p>

        </div>

    </article>

</main>
