---
layout: default
meta_title: Web Accessibility Development
meta_description: The services Devi11ion offers
body_class: development
title: Web Accessibility Development
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content w-2/3">
           <p>We provide various levels of web accessibility development.</p>

           <h2 class="text-2xl">Low-hanging fruits</h2>
           <p>Sometimes very small code changes can fix troublesome accessibility issues on your website. These low-hanging fruits can be easily identified and quickly fixed.</p>
           <p>Accessibility issues often go hand-in-hand with SEO, so with these quick improvements your SEO will most likely benefit. </p>
           <p>In order to identify the low-hanging fruits, we’d need to give your website a <a href="#">quick glance</a>.</p>

           <h2 class="text-2xl">Bite-size bits</h2>
           <p>Large amount of web accessibility issues require code changes which take a bit of time, but are not large pieces of work. It may be found on multiple page templates, or requires re-structuring of markup. These are usually fairly isolated pieces of work and can be worked on one at a time. </p>
           <p>After <a href="">digging a bit deeper</a> and getting a handle on these bite-size bits, we’d prioritise them and provide an estimate for each one. You can then pick and choose which ones you feel your website would benefit from the most. </p>

           <h3>Additional Services</h3>

           <ul>
             <li>UX / Usability Evaluation</li>
             <li>Web development best practice</li>
             <li>Codebase Repository (Github)</li>
             <li>Front end architecture</li>
             <li>Deployment Pipeline</li>
           </ul>
        </div>

    </article>

</main>
