---
layout: default
meta_title: Home
meta_description: Web Accessibility Consultation and Technical Solutions
body_class: home
title: Web Accessibility Consultation and Technical Solutions
---

<section class="hero flex flex-row items-center w-full bgImage">
    <h1 class="flex-1 text-4xl font-normal text-center mt-6">Web Accessibility Consultation<br/>and Technical Solutions</h1>
</section>

<main id="main" class="main inner flex flex-1 flex-col py-10 focus:outline-none" tabindex="-1">


    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">


        <div class="content">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mb-6">
                <div class="card border-t border-oxfordBlue pt-4">
                    <h2 class="text-2xl font-normal">We'll fit right in</h2>
                    <p>Over 12 years of commercial experience integrating with tech teams of all shapes and sizes enables us to <strong>quickly</strong> start working with <strong>your</strong> team and find practical development solutions to accessibility issues your website is facing.</p>
                </div>
                <div class="card border-t border-oxfordBlue pt-4">
                    <h2 class="text-2xl font-normal">Small steps</h2>
                    <p>We understand that rebuilding your website to be fully accessible is often not financially viable. This is where small, yet important improvements can make a big difference in how accessible your website is.</p>
                </div>
            </div>

            <div class="grid grid-cols-1">
                <div class="card border-t border-oxfordBlue pt-4">
                    <h2 class="text-2xl font-normal">What we can do for you</h2>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 mb-6">
                <div class="card rounded bg-seaGreen-200 p-4">
                    <h3 class="text-xl text-darkCoral-800">Web Accessibility Audit</h3>
                    <p>This involves testing your website for issues and documenting any findings. You’ll get a document outlining found issues and suggestions of how to fix or mitigate them.</p>
                    <a href="/auditing" class="text-darkCoral-700 hover:text-oxfordBlue">Learn more</a>
                </div>
                <div class="card rounded bg-seaGreen-200 p-4">
                    <h3 class="text-xl text-darkCoral-800">Web Accessibility Development</h3>
                    <p>Here we integrate with your tech team and start fixing the code. A minimal web accessibility audit is required before starting any development work.</p>
                    <a href="/development" class="text-darkCoral-700 hover:text-oxfordBlue">Learn more</a>
                </div>
                <div class="card rounded bg-seaGreen-200 p-4">
                    <h3 class="text-xl text-darkCoral-800">Training and Education</h3>
                    <p>We’ll happily do workshops or training sessions on web accessibility for your team.</p>
                    <a href="#" class="text-darkCoral-700 hover:text-oxfordBlue">Learn more</a>
                </div>
            </div>
        </div>

    </section>

</main>


