---
layout: default
meta_title: Home
meta_description: Web Accessibility Consultation and Technical Solutions
body_class: home
title: Web Accessibility Consultation and Technical Solutions
---

<section class="hero flex flex-row items-center w-full bgImage">
    <h1 class="flex-1 text-4xl font-normal text-center mt-6">Web Accessibility Consultation<br/>and Technical Solutions</h1>
</section>

<main id="main" class="main inner flex flex-1 flex-col py-10 focus:outline-none" tabindex="-1">


    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">


        <div class="content">

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                <div class="card border-t border-oxfordBlue pt-6">
                    <h2 class="text-2xl font-normal">We'll fit right in</h2>
                    <p>Over 12 years of commercial experience integrating with tech teams of all shapes and sizes enables us to <strong>quickly</strong> start working with <strong>your</strong> team and find practical development solutions to accessibility issues your website is facing.</p>
                </div>
                <div class="card border-t border-oxfordBlue pt-6">
                    <h2 class="text-2xl font-normal">Small steps</h2>
                    <p>We understand that rebuilding your website to be fully accessible is often not financially viable. This is where small, yet important improvements can make a big difference in how accessible your website is.</p>
                </div>
            </div>
        </div>

    </section>

</main>


